/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
/artisan
/server.php
storage
*.hgignore
tmp
properties
banners
/public/images/us.jpg
/public/images/20140607_210827.jpg
config/database.php
config/app.php
.project
.settings/org.eclipse.wst.validation.prefs
.buildpath
public/sitemap.xml
